{% extends "base.html" %}

{% block content %}

    {% autoescape off %}
    <script src="/media/customjs/charts.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
            visualnet_JSNS.area_chart1( {{ xAxisLabel }}, {{ tickinterval }}, {{ data_in }}, {{ data_out }} );
        });
    </script>

    {% endautoescape %}
    <div id="container" style="width: 100%; height: 400px"></div>

<center>
<div class="row-fluid">
    <div class="span6">
        <h4>Top Talkers</h4>
        <dl class="dl-horizontal">
        {% for ip, data in top_talkers %}
            <dt>{{ ip }}</dt>
            <dd>{{ data }}</dd>
        {% endfor %}
        </dl>
    </div>

    <div class="span6">
        <h4>Top Receivers</h4>
        <dl class="dl-horizontal">
        {% for ip, data in top_receivers %}
            <dt>{{ ip }}</dt>
            <dd>{{ data }}</dd>
        {% endfor %}
        </dl>
    </div>

</div>
</center>
{% endblock %}
