{% extends "base.html" %}

{% block content %}
    {% autoescape off %}
    <script type="text/javascript">
        var chart1; // globally available
        $(document).ready(function() {
              chart1 = new Highcharts.Chart({
                 chart: {
                    renderTo: 'container',
                    type: 'area'
                 },

                 tooltip: {
                    formatter: function() {
                        return 'The value for <b>'+ this.x +
                        '</b> is <b>'+ this.y.toFixed(2) +'</b>';
                    }
                 },

                 title: {
                    text: 'Data Rates'
                 },
                 xAxis: {
                    categories: {{ xAxisLabel }},
                    tickInterval: {{ tickinterval }}
                 },

                 yAxis: {
                    title: {
                       text: 'Mbps'
                    },
                 },

                 plotOptions: {
                    area: {
                        stacking: 'normal',
                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#666666'
                        }
                    },
                    series: {
                        enableMouseTracking: false,
                        shadow: false,
                        animation: false
                    }
                 },
                 series: [{
                    name: 'Data In',
                    data: {{ data_in }}
                 }, {
                    name: 'Data Out',
                    data: {{ data_out }}
                 }]

              });
           });
    </script>
    {% endautoescape %}
    <div id="container" style="width: 100%; height: 400px"></div>

<center>
<table cellspacing="0", cellpadding="0">
    <tr>
        <td class="col" valign="top">
             <ol id="talkers"><ol>
        </td>

        <td class="col" valign="top">
              <ol id="receivers"></ol>
        </td>
    </tr>
</table>
</center>

<script>
  $("#talkers").load("/bandwidth/toptalkers/ #topdata");
  $("#receivers").load("/bandwidth/topreceivers/ #topdata");
</script>

{% endblock %}
