{% extends "base.html" %}

{% block content %}
{% if top_talkers_list %}
    <div id="topdata" class="span4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan=2 scope="colgroup"><center>
                    <span class="label label-inverse">
                    {{ title }}
                    </span>
                </center></th>
            </tr>
            <tr>
                <th>Host</th>
                <th>Total Data</th>
            </tr>
        </thead>
        <tbody>
        {% for ip, data in top_talkers_list %}
            <tr>
                <td><a href="/detailedIP/{{ ip }}/">{{ ip }}</a></td>
                <td>{{ data }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p>No data are available.</p>
{% endif %}

{% endblock %}