{% extends "base.html" %}

{% block content %}
<div id="topdata" class="span4">
    {% if top_talkers_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan=2 scope="colgroup"><center>
                    <span class="label label-inverse">
                    {{ title }}
                    </span>
                </center></th>
            </tr>
            <tr>
                <th>Host</th>
                <th>Total Data</th>
            </tr>
        </thead>
        <tbody>
        {% for ip, data in top_talkers_list %}
            <tr>
                <td><a href="/detailedIP/{{ ip }}/">{{ ip }}</a></td>
                <td>{{ data }}</td>
            <tr>
        {% endfor %}
        </tbody>
    </table>  
    {% else %}
        <p>No data are available.</p>
    {% endif %}
</div>
{% endblock %}