{% extends "base.html" %}

{% block content %}
    {% autoescape off %}
    <div id="topdata" class="span4">
    <script type="text/javascript">
        var chartpie; // globally available
        function show_pie() {
              chartpie = new Highcharts.Chart({
                 chart: {
                    renderTo: 'piecontainer',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                 },

                 tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                    percentageDecimals: 1
                 },

                 title: {
                    text: "Port Usage"
                 },
                 
                 plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                            }
                        }
                    }
                 },

                 series: [{
                    type: 'pie',
                    name: 'Port Usage',
                    data: {{ top_talkers_list }}
                 }]

              });
           };
        $(document).ready(show_pie);
    </script>
    {% endautoescape %}
    <div id="topdata" style="width: 100%; height: 400px"></div>
    </div>

{% endblock %}