<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VisualNet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the
        bottom of the topbar */
        }
        </style>

	<link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/media/jquery/jquery-1.8.0.min.js"></script>
        <script src="/media/knockout/knockout-2.1.0.js"></script>
        <script src="/media/highcharts/js/highcharts.js"></script>
	<link rel="shortcut icon" href="/media/bootstrap/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
href="/media/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
href="/media/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
href="/media/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed"
href="/media/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">VisualNet</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/bandwidth/">Dashboard</a></li>
                            <li class="active"><a href="/bandwidth/toptalkers">TopTalkers</a></li>
                            <li class="active"><a href="/bandwidth/topreceivers">TopReceivers</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            {% block content %}
            {% endblock %}

        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/media/bootstrap/js/bootstrap.min.js"></script>
        <script src="/media/bootstrap/js/bootstrap-transition.js"></script>
        <script src="/media/bootstrap/js/bootstrap-alert.js"></script>
        <script src="/media/bootstrap/js/bootstrap-modal.js"></script>
        <script src="/media/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/media/bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="/media/bootstrap/js/bootstrap-tab.js"></script>
        <script src="/media/bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="/media/bootstrap/js/bootstrap-popover.js"></script>
        <script src="/media/bootstrap/js/bootstrap-button.js"></script>
        <script src="/media/bootstrap/js/bootstrap-collapse.js"></script>
        <script src="/media/bootstrap/js/bootstrap-carousel.js"></script>
        <script src="/media/bootstrap/js/bootstrap-typeahead.js"></script>

    </body>
</html>
